body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}

.clock {
  width: 200px;
  height: 200px;
  border: 8px solid white;
  border-radius: 50%;
  position: relative;
  background: #000;
}

.clock .hour,
.clock .minute,
.clock .second {
  position: absolute;
  width: 50%;
  height: 2px;
  background: white;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s cubic-bezier(0.4, 2.3, 0.3, 1);
}

.clock .hour {
  height: 4px;
  background: white;
}

.clock .minute {
  height: 3px;
  background: #888;
}

.clock .second {
  height: 1.5px;
  background: red;
}
